body{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    
}
.rev{
    width:98.5vw;
    height: 680px;
    border: 10px solid;
    border-color: white green white orange;
    position: absolute;
    top:0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    
}

.sky{
    width: 1800px;
    height: 700px;
    right: 800px;
    
}
.road1{
    position: absolute;
    top: 391px;
    left: -5000px;
    animation: road1 10s infinite linear reverse;
}

.road2{
    position: absolute;
    top: 391px;
    left: 18px;
    animation: road2 10s infinite linear reverse;
}
.city1{
    /* position: absolute;
    left: -5000px;
    width: 1490px ;
    animation: city1 10s infinite linear reverse; */
    position: absolute;
    top: 200px;
    left: -100%;
    width: 100%;
    animation: city1 10s infinite linear reverse;
}
.city2{
    position: absolute;
    top: 200px;
    left: 0px;
    width: 100%;
    animation: city2 10s infinite linear reverse;
}
.car{
    width: 350px;
    position: absolute;
    top: 300px;
    left: 350px;
}

.wheel1{
    width: 60px;
    position: absolute;
    top: 380px;
    left: 382px; 
    animation: wheel 3s infinite linear;
    
}
.wheel2{
    width: 60px;
    position: absolute;
    top: 380px;
    left: 596px;
    animation: wheel 3s infinite linear; 
}
.sun{
    width: 100px;
    position: absolute;
    top: 120px;
    right: 80px;
    animation: sun 200s infinite linear;
}
.flag{
    width: 80px;
    position: absolute;
    top: 288px;
    right: 400px;

}
@keyframes road1
{
    from
    {
        left: -5000px;
    }
    to
    {
        left: 18px;
    }
}
@keyframes road2
{
    from
    {
        left: 18px;
    }
    to
    {
        left: 5000px;
    }
}
@keyframes city1
{
    from
    {
        left: -100%;
    }
    to
    {
        left: 0px;
    }
}
@keyframes city2
{
    from
    {
        left: 0px;
    }
    to
    {
        left: 100%;
    }
}
@keyframes wheel
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
@keyframes sun
{
    from
    {
        right: 100px;
    }
    to
    {
        right: 1000px;
    }
}
.box1{
    background-color: orange;
    position: fixed;
    left: 200px;
    top: 10px;
    font-size: 50px;
    font-weight: bold;
}
.box2{
    background-color: white;
    position: fixed;
    left: 390px;
    top: 10px;
    font-size: 50px;
    font-weight: bold;
}
.box3{
    background-color: green;
    position: fixed;
    left: 810px;
    top: 10px;
    font-size: 50px;
    font-weight: bold;
}